<h4>Fill in the Form Inputs to Add the Data to the Table</h4>
<form>
    <label>Name of Exercise:
        <input type="text" name="name" id="newName" maxlength="100">
    </label>

    <label>Number of Reps:
        <input type="number" name="reps" id="newRep" min="1" max="50">
    </label>

    <label>Weight of Weights:
        <input type="number" name="weights" id="newWeight" min="1" max="200">
    </label>

    <label>Date:
        <input type="date" name="date" id="newDate">
    </label>

    <label>Unit of Weight:
        <input type="text" name="unit" id="newUnit">
    </label>

    <input type="submit" id="addToTable">
</form>
<br/>
<br/>
<br/>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Reps</th>
            <th>Weight</th>
            <th>Date</th>
            <th>Units</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>